    /*-----------------------------------*\
    #CUSTOM PROPERTY
    \*-----------------------------------*/

    :root {

        /**
        * colors
        */
    
        --spanish-gray: hsl(0, 0%, 60%);
        --sonic-silver: hsl(0, 0%, 47%);
        --eerie-black: hsl(0, 0%, 13%);
        --salmon-pink: hsl(353, 100%, 78%);
        --sandy-brown: hsl(29, 90%, 65%);
        --bittersweet: hsl(0, 100%, 70%);
        --ocean-green: hsl(152, 51%, 52%);
        --davys-gray: hsl(0, 0%, 33%);
        --cultured: hsl(0, 0%, 93%);
        --white: hsl(0, 100%, 100%);
        --onyx: hsl(0, 0%, 27%);
    
        /**
        * typography
        */
    
        --fs-1: 1.563rem;
        --fs-2: 1.375rem;
        --fs-3: 1.25rem;
        --fs-4: 1.125rem;
        --fs-5: 1rem;
        --fs-6: 0.938rem;
        --fs-7: 0.875rem;
        --fs-8: 0.813rem;
        --fs-9: 0.75rem;
        --fs-10: 0.688rem;
        --fs-11: 0.625rem;
    
        --weight-300: 300;
        --weight-400: 400;
        --weight-500: 500;
        --weight-600: 600;
        --weight-700: 700;
    
        /**
        * border-radius
        */
    
        --border-radius-md: 10px;
        --border-radius-sm: 5px;
    
        /**
        * transition 
        */
    
        --transition-timing: 0.2s ease;
    
    }
    
    
    /*-----------------------------------*\
    #REUSED STYLE
    \*-----------------------------------*/

    .container { padding: 0 15px; }

    .has-scrollbar { padding-bottom: 5px; }

    .has-scrollbar::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
    }

    .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
    }

    .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }

    .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

    .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
    }
  
  
    /*-----------------------------------*\
    #HEADER
    \*-----------------------------------*/

    .header-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--cultured);
        padding: 20px 0;  
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-logo {
        position: absolute;
        left: 20px; 
        top: 20px;  
    }
    
    .header-search-container {
        width: 100%;  
        display: flex;
        justify-content: center; 
        position: relative; 
    }
    
    .search-field {
        width: 50%;  
        max-width: 600px;  
        font-size: var(--fs-7);
        color: var(--onyx);
        padding: 10px 15px;
        border: 1px solid var(--cultured);
        border-radius: var(--border-radius-md);
    }
    
    .search-btn {
        background: var(--white);
        position: absolute;
        right: calc(50% - 310px); 
        top: 50%; 
        transform: translateY(-50%);  
        padding: 8px 15px;
        border-radius: var(--border-radius-md);
        cursor: pointer;  
    }
    
    .header-navigation {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    
    .header-navigation ul {
        display: flex;
        gap: 20px;
    }
    
    .header-navigation a {
        color: var(--onyx);
        text-decoration: none;
        font-size: var(--fs-5);
        font-weight: var(--weight-500);
    }
    
    .header-navigation a:hover {
        color: var(--salmon-pink);
    }
    
    .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 20px auto;
    }
    
    .contact-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .contact-form input, .contact-form textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid var(--cultured);
        border-radius: var(--border-radius-md);
    }
    
    .contact-form button {
        padding: 10px;
        background-color: var(--salmon-pink);
        color: white;
        border: none;
        border-radius: var(--border-radius-md);
        cursor: pointer;
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px; 
        font-family: var(--fs-5);
        resize: none; 
    }
    
    textarea {
        height: 150px
    }
    
    textarea {
        height: 200px; 
    }

    form {
        min-width: 80%;
        overflow-x: hidden; 
        padding: 0 20px; 
    }
    /*-----------------------------------*\
    #CATEGORY
    \*-----------------------------------*/

    .category { margin-bottom: 30px; }

    .category-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
    }

    .category-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
    }

    .category-img-box {
    background: var(--cultured);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: var(--border-radius-sm);
    }

    .category-content-box { width: 100%; }

    .category-content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    }

    .category-item-title {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    }

    .category-item-amount {
    color: var(--sonic-silver);
    font-size: var(--fs-11);
    }

    .category-btn {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    }

    /*-----------------------------------*\
        #RESET
    \*-----------------------------------*/
    
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a { text-decoration: none; }
    
    li { list-style: none; }
    
    button {
        background: none;
        font: inherit;
        border: none;
        cursor: pointer;
    }
    
    img, ion-icon, button, a { display: block; }
    
    span { display: inline-block; }
    
    html {
        font-family: "Poppins", sans-serif;
        overscroll-behavior: contain;
    }
    
    input {
        display: block;
        width: 100%;
        font: inherit;
    }
    
    input::placeholder { font: inherit; }

    body { background: var(--white); }

    /** 
    * scrollbar style
    */

    body ::-webkit-scrollbar { width: 15px; }

    body::-webkit-scrollbar-track {
        background: var(--white);
        border-left: 1px solid var(--cultured);
    }

    body::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 80%);
        border: 3px solid var(--white);
        border-radius: 10px;
    }   

    body::-webkit-scroilbar-thumb:hover { background:hsl(0, 0%, 70%); }


  