    /*-----------------------------------*\
    #CUSTOM PROPERTY
    \*-----------------------------------*/

    :root {

        /**
        * colors
        */
    
        --spanish-gray: hsl(0, 0%, 60%);
        --sonic-silver: hsl(0, 0%, 47%);
        --eerie-black: hsl(0, 0%, 13%);
        --salmon-pink: hsl(353, 100%, 78%);
        --sandy-brown: hsl(29, 90%, 65%);
        --bittersweet: hsl(0, 100%, 70%);
        --ocean-green: hsl(152, 51%, 52%);
        --davys-gray: hsl(0, 0%, 33%);
        --cultured: hsl(0, 0%, 93%);
        --white: hsl(0, 100%, 100%);
        --onyx: hsl(0, 0%, 27%);
        --first: #f7fbfc; 
        --second: #c7dded;
    
        /**
        * typography
        */
    
        --fs-1: 1.563rem;
        --fs-2: 1.375rem;
        --fs-3: 1.25rem;
        --fs-4: 1.125rem;
        --fs-5: 1rem;
        --fs-6: 0.938rem;
        --fs-7: 0.875rem;
        --fs-8: 0.813rem;
        --fs-9: 0.75rem;
        --fs-10: 0.688rem;
        --fs-11: 0.625rem;
    
        --weight-300: 300;
        --weight-400: 400;
        --weight-500: 500;
        --weight-600: 600;
        --weight-700: 700;
    
        /**
        * border-radius
        */
    
        --border-radius-md: 10px;
        --border-radius-sm: 5px;
    
        /**
        * transition 
        */
    
        --transition-timing: 0.2s ease;
    
    }
    
    
    /*-----------------------------------*\
    #REUSED STYLE
    \*-----------------------------------*/

    .container { padding: 0 15px; }

    .has-scrollbar { padding-bottom: 5px; }

    .has-scrollbar::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
    }

    .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
    }

    .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }

    .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

    .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
    }
  
  
    /*-----------------------------------*\
    #HEADER
    \*-----------------------------------*/
    
    header {
        background-color: var(--first);
        z-index: 1000;
    }
    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center ;
        gap: 30px;
        margin-right: 20px;
        flex: 1;
    }
    
    .nav-item a {
        display: block;
        margin: 0 2px;
        font-weight: 600;
        padding: 8 18px;
        color: var(--onyx);
        text-decoration: none;
        font-size: var(--fs-5);
        font-weight: var(--weight-500);
        letter-spacing: 0.5px;;
        transition: 0.2s;
        position: relative;
    }
    
    
    .nav-item a {
        color: var(--onyx);
        text-decoration: none;
        font-size: var(--fs-5);
        font-weight: var(--weight-500);
        letter-spacing: 0.5px;;
        transition: 0.2s;
        position: relative;
    }
    
    
    .nav-item a:after {
        content: "";
        position: absolute;
        background-color: var(--salmon-pink);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    .nav-item a:hover {
        color: var(--salmon-pink);
    }
    .nav-item a:hover:after {
        width: 100%;
    }
    .hamburger {
        display: none;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--onyx);
    }
    .header-search-container {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search-field {
        flex: 1;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .search-btn ion-icon {
        font-weight: 1000;
        font-size: 20px;
        color: var(--onyx);
    }
    
    @media(max-width:768px) {
        .hamburger {
            display: block;
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1) {
            transform: translate(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(1) {
            transform: translate(-8px) rotate(-45deg);
        }
        .nav-menu {
            position: fixed;
            left: -100%;
            top: 70px;
            gap: 10px;
            flex-direction: column;
            background-color: var(--first);
            width: 100%;
            text-align: center;
            transition: 0.2s;
        }
        nav-item {
            margin-bottom: 20px;
        }
        .nav-menu.active {
            left: 0;
        }
    }
    
    /*-----------------------------------*\
    #CONTACT FORM
    \*-----------------------------------*/   
    .contact-form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 20px auto;
    }
    
    .contact-form label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .contact-form input, .contact-form textarea {
        margin-bottom: 10px;
        padding: 8px;
        border: 2px solid --cultured;
        border-radius: var(--border-radius-md);
    }
    
    .contact-form button {
        padding: 10px;
        background-color: var(--salmon-pink);
        color: var(--eerie-black);
        font-weight: bold;
        border: none;
        border-radius: var(--border-radius-md);
        cursor: pointer;
        transition: 0.2s;
    }
    .contact-form button:hover {
        background-color: hsl(353, 100%, 92%);
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px; 
        font-family: var(--fs-5);
        resize: none; 
    }
    
    textarea {
        height: 150px
    }
    
    textarea {
        height: 200px; 
    }

    form {
        min-width: 80%;
        overflow-x: hidden; 
        padding: 0 20px; 
    }


    /*-----------------------------------*\
        #RESET
    \*-----------------------------------*/
    
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a { text-decoration: none; }
    
    li { list-style: none; }
    
    button {
        background: none;
        font: inherit;
        border: none;
        cursor: pointer;
    }
    
    img, ion-icon, button, a { display: block; }
    
    span { display: inline-block; }
    
    html, p {
        font-family: "Poppins", sans-serif;
        overscroll-behavior: contain;
    }
    
    input {
        display: block;
        width: 100%;
        font: inherit;
    }
    
    input::placeholder { font: inherit; }

    body { 
        background: var(--second) !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 20px;
    }
    footer {
        background-color: var(--first);
        padding: 10px 0;
        text-align: center;
        width: 100%;
        margin-top: auto;
    }

    /** 
    * scrollbar style
    */

    body ::-webkit-scrollbar { width: 15px; }

    body::-webkit-scrollbar-track {
        background: var(--white);
        border-left: 1px solid var(--cultured);
    }

    body::-webkit-scrollbar-thumb {
        background: hsl(0, 0%, 80%);
        border: 3px solid var(--white);
        border-radius: 10px;
    }   

    body::-webkit-scroilbar-thumb:hover { background:hsl(0, 0%, 70%); }


    .wrapper {
        width: auto;
        padding: 15px 15px;
        background: var(--first);
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

     .gallery {
        position: relative;
        margin: auto;
        box-sizing: border-box;
    }

    .gallery .card {
        height: 400px;
        border-radius: 5px;
    }

    #c1 {
        background: url(../images/placeholder/h1.jpg) no-repeat center
        center/cover;
    }
    #c2 {
        background: url(../images/placeholder/h2.jpg) no-repeat center
        center/cover;
    }
    #c3 {
        background: url(../images/placeholder/h3.jpg) no-repeat center
        center/cover;
    }
    #c4 {
        background: url(../images/placeholder/h4.jpg) no-repeat center
        center/cover;
    }
    .owl-dots {
        display: flex;        /* Change to flexbox for horizontal alignment */
        justify-content: center; /* Center the dots horizontally */
        align-items: center;  /* Center the dots vertically */
        margin-top: 10px;
    }
    .owl-dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        margin: 0 5px;
        border: 2px solid var(--eerie-black) !important;
        transition: all 0.3s ease; 
    }
    .owl-dot:hover,
    .owl-dot.active {
        background-color: var(--eerie-black) !important;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 45%;
        transform: translate(-50%,-50%);
    }
    .owl-prev {
        left:5px;
    }
    .owl-next {
        right: 40px;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 30px;
        color: var(--eerie-black);
        transition: all 0.2s;
    }
    .fa-chevron-left:hover,
    .fa-chevron-right:hover {
        color: var(--sonic-silver);
    }

    .p-slider {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-slider-heading {
        margin: 0px;
        color: var(--onyx);
    }

    .product-box {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 15px;
        background-color: white;
        border: 2px solid rgba(0,0,0,0.08);
        border-radius: 10px;
        margin: 0px 20px;
        position: relative;
    }
    .p-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
    }
    .p-img a, .p-img {
        width: 100%;
        height: 200px;
        display: flex;
    }
    .p-img a img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
        animation: fade 0.6s;
    }
    .p-img-back {
        display: none;
    }
    .p-img-container:hover .p-img-back{
        display: block;
    }
    .p-img-container:hover .p-img-front{
        display: none;
    }
    @keyframes fade{
        0%{
            opacity:0;
        }
        100%{
            opacity:1
        }
    }

    .p-box-text {
        margin-top: 5px;
        width: 100%;
    }
    .product-category span {
        color: var(--onyx);
        font-size: 0.9rem;
        margin: 5px 0px;
    }
    .product-title {
        color: var(--onyx);
        font-weight: 600;
        text-decoration: none;
    }
    .product-title:hover {
        color: var(--onyx);
        opacity: 0.7;
        transition: all ease 0.3s;
    }
    .price-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
    .price-buy .p-price {
        font-size: 1.3rem;
        color: var(--onyx);
        font-weight: 700;
    }
    .price-buy .p-buy-btn {
        color: var(--salmon-pink);
        margin: 0px 5px;
        font-weight: 600;
    }
    .price-buy .p-buy-btn:hover{
        text-decoration: underline;
    }
    .p-discount {
        position: absolute;
        left: 30px;
        top: 20px;
        width: 65px;
        height: 24px;
        color: #ffffff;
        background-color: var(--salmon-pink);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        letter-spacing: 1px;
        z-index: 100;
        border-radius: 3px;
    }
    .product-slider-heading {
        flex: 1; /* Allows the h3 to take up remaining space */
        text-align: left; /* Centers the text horizontally */
        padding-left: 20px;
    }
    .product-nav-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        
        
    }
    .slider-btns{
        display: flex;
        align-items: center;
        padding-right: 20px;
        gap: 10px;
    }
    .slider-btns button {
        position: static !important;
        background-color: #f3f3f3;
        width: 80px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 30px;
        font-weight: 800;
        transition: 0.2s ease;
    }
    .slider-btns button:hover {
        color: var(--salmon-pink);
    }

    
    @media(max-width:500px) {
        .product-box{
            margin: 0px 10px;
        }
        .p-slider{
            width: 100%;
        }
        .product-slider-heading{
            text-align: center;
            font-size: 1.3rem;
            display: flex;
        }
        .p-img a, .p-img {
            height: 200px;
        }
        .price-buy .p-price {
        font-size: 1.1rem;
        }
        .p-img-container:hover .p-img-back {
            display: none;
        }
        .p-img-container:hover .p-img-front {
            display: block;
        }
    }
    @media(max-width:220px) {
        .p-img a,
        .p-img {
            height: 90px;
        }
        .slider-btns{
            padding: 0px;
        }
    }
    @media (max-width: 500px) {
        /* Styles for screens up to 500px */
        .wrapper {
          margin-left: 10px;
          margin-right: 10px;
        }
      
        .product-nav-row {
          margin-bottom: 10px;
        }
      
        .slider-btns {
          margin-top: 10px;
        }
      }
    @media screen and (max-width: 650px) {

    }